body, html{
    background-color: #E0E0E0;
    height: 100vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.userProfile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

div > img{
    width: 15dvh;
    border-radius: 60px;
}

h2{
    text-align: center;
}
.firstrow{
    display: flex;
    column-gap: 3rem;
    font-size: larger;
    flex-wrap: wrap;
    font-weight: bolder;
    align-items: center;
    justify-content: left;
}
.profile{
display: flex;
flex-direction: column;
flex-wrap: wrap;
background-color: white;
border-radius: 10px;
/* width: 40%; */
align-items: flex-start;
justify-content: left;
padding: 1rem;

}
.field p{ 
    display: flex;
    justify-content: center;
    color: whitesmoke;
    background-color: #008BDF;
    font-size: medium;
    border-radius: 5px;
    height: 1rem;
    padding: 1rem;
}
.about{
    display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}
.aboutbox{

    background-color: white;
    border-radius: 10px;
    padding: 2rem;
}
button{
    background-color: #008BDF;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 1rem;
    /* width: 30%; */
}
.button{
    display: flex;
    justify-content: center;
    align-items: center;
}
.project{
    background-color: white;
    border-radius: 10px;
    padding: 1rem;
    /* width: 20%; */
}
.firstPart{
    display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}
.container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}